<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

  <div>
    <div class="container">
      <div class="columns is-flex is-vcentered is-centered"> 
        <div class="column is-three-quarters">
          <div class="section is-flex is-flex-direction-column">
            {% block content %}
            {% endblock %}  
          </div>  
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>