
{% extends 'test_app/base.html' %}
{% block content %}

  <div class="card">

    <header class="card-header has-background-link">
      <p class="card-header-title subtitle has-text-light is-size-3 has-text-weight-normal" 
      style="justify-content: space-between">
        {% if form_type == 'login' %}
          Login
        {% else %}
          Register
        {% endif %}
        <button class="button is-pulled-right">
          <span class="has-text-weight-medium is-underlined is-5">
            % if form_type == 'login' %}
              Login
            {% else %}
              Register
            {% endif %}
          </span>
        </button>
      </p>
    </header>

    <div class="card-content">
      <div class="content">

        <form action="">

          {% if form_type == 'register' %}
          <div class="field">
            <label class="label">Full Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Shubham Bhardwaj" required>
            </div>
          </div>

          <div class="field">
            <label class="label">Contact No.</label>
            <div class="control">
              <input class="input" type="text" placeholder="9999999999">
            </div>
          </div>

          <div class="field">
            <label class="label">Company Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="e.g. Lyxel&Flamingo">
            </div>
          </div>

          <div class="field">
            <label class="label">Company's Website</label>
            <div class="control">
              <input class="input" type="text" placeholder="https://www.lyxel&flamingo.com/">
            </div>
          </div>

          <div class="field">
            <label class="label">Company's Location</label>
            <div class="control">
              <input class="input" type="text" placeholder="Gurgaon, Haryana">
            </div>
          </div>
          {% endif  %}

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="e.g. shubham@gmail.com" required>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" required>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit">
                Submit
              </button>
            </div>
          </div>

        </form>




      </div>
    </div>

  </div>
        
 
{% endblock content %}